body {
		// background-color: grey;
	.public, .admin, .apply {
		background-color: white;
		max-width: 600px;
		margin: auto;
		margin-bottom: 1em;
		padding: 1.5em;
		-webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.4);
		box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.4);
		-webkit-border-radius: 0px;
		border-radius: 0px;
	}
	textarea {
		width: 100%;
		max-width: 100%;
		height: 600px;
	}
}