head
	meta(name="description" content="Õpi programmeerima parimal võimalikul viisil.")
	meta(name="keywords" content="programmeerimine,õpi,koolitus,python,java,programmeerima,õpetus,algaja")
	title Koodikool

template(name="index")
	+menu
	.content
		+yield