template(name="menu")
	.menu
		a(href="/" id="logo") Koodikool
		a(href="/Koodikool" id="Koodikool") Koodikool
		a(href="/Oppeprotsess" id="Oppeprotsess") Õppeprotsess
		a(href="/JavaScript" id="JavaScript") JavaScript
		a(href="/Hinnad" id="Hinnad") Hinnad
		a(href="/Register" id="Register") Registreeri
