template(name="menu")
	.menu
		a(href="/" id="logo") Koodikool
		a(href="/Koodikool" id="Koodikool") Koodikool
		//- a(href="/Oppeprotsess" id="Oppeprotsess") Õppeprotsess
		a(href="/HTML-CSS-JS" id="html-css-js") HTML + CSS + JS
		a(href="/Meteor" id="meteor") Meteor.js
		a(href="/Hinnad" id="Hinnad") Hinnad
		a(href="/Register" id="Register") Registreeri
