template(name="menu")
	.menu
		a(href="/" id="logo") Koodikool
		a(href="/Koodikool" id="Koodikool") Koodikool
		a(href="/Oppeprotsess" id="Oppeprotsess") Õppeprotsess
		a(href="/JavaScript" id="JavaScript") JavaScript
		a(href="/Minust" id="Minust") Minust
		a(href="/Profile" id="Profile") Registreeri
