template(name="public")
	.public 
		h1.title Koodikool
		h2.subtitle Parim programmeerimise<br>kursus algajatele. Üldse!
		.sub-block
			h3 Kiiresti selgeks
			p Kursused toimuvad kohapeal ja on juhendatud, et töö seisma ei jääks ja entusiasm võimalikult kaua kestaks.
		.sub-block
			h3 Sinu idee
			p Suurem osa õppekavast on projekt, mis on koostatud vastavalt sinu enda väljamõeldud ideele.
		.sub-block
			h3 Reaalne tulemus
			p Kasutame vaid uusimat tarkvara. See võimaldab kursuse lõpuks midagi päriselt valmis saada, et teistelegi näidata.
		h2.subtitle Õppeprotsess
		.sub-block
			h3 Algukursus
			p Teeme selgeks elementaarsed veebiarenduse põhimõtted ja Meteor.js võimalused.
		.sub-block.double-size
			h3 Projekt
			p Kõige paremini õpib ikka enda isikliku idee kallal tööd tehes. Sellepärast ongi õppekavaks sinu väljamõeldud projekti kondikava, millel on struktuur juba paika pandud. Räägime ja näitame sulle igal sammul, või siis täpselt nii palju kui parasjagu vaja. Pealselt, et projekt liiguks ja asja üldine arusaam haakuks.
		h2.subtitle Tulemus
		.sub-block
			h3 Valmis saad veebilehe
			ul
				li mille oled ise välja mõelnud
				li mis on täiesti funktsionaalne
				li see töötab nii arvutis kui nutiseadmetel
				li ja sünkroniseerib andmeid kasutajate vahel
		.sub-block
			h3 Ära õpid
			ul
				li Kuidas terviklikku veebi arendada Meteor.js baasil
				li Keeled HTML / CSS / JavaScript
		.sub-block
			h3 Lisaks
			ul
				li Oskad edaspidi iseseisvalt arendada
				li Leiad vastused uutele küsimustele
		h2.subtitle Hind
		.sub-block
			h3 Täispakett
			ul
				li 20 tundi juhendajaga
				li Kaks korda nädalas
				li Väikeses grupis
			h2 200€