template(name="public")
	.public 
		h1.title Koodikool
		h2.subtitle Veebiarendus kiiresti ja efektiivselt selgeks
		.content {{{content}}}
		.ilves
		.content
		.apply
			p.
				Kandideeri:
				Nimi
				kool
				vanus
				idee
				email
				number
				stip/both/pay
				soovitud nädalapäevad