template(name="public")
	.public 
		h1.title Koodikool
		h2.subtitle Parim programmeerimise<br>kursus algajatele. Üldse!
		.sub-block
			.white
				h2 Ainult vajalik
				p Meie õpetame sulle ainult seda, mida sul päriselt vaja on. Ägeda veebilehe või nutiäppi kirjutamine nõuab põhikooli matemaatikat ja järjepidevust, aga mitte tuumafüüsikat.
		.sub-block
			.white
				h2 Sinu idee
				p Põhiline õppimine toimubki sinu enda projekti kallal nokitsedes. Meie juhendame sind ja anname sulle õiged teadmised õigel ajal.
		.sub-block
			.white
				h2 Reaalne tulemus
				p Lõpuks ei oska sa mitte ainult JavaScripti progeda vaid sul on ka valmis netileht või nutiäpp ette näidata!
