template(name="public")
	.public 
		h1.title Koodikool
		h2.subtitle Parim programmeerimise<br>kursus algajatele. Üldse!
		.sub-block
			h3 Kiiresti selgeks
			p Kursused toimuvad Koodikooli õppeklassis, väikestes gruppides, koos juhendajaga. Teeme kindlaks, et töö sujub hoogsalt ja entusiasm ei saaks otsa.
		.sub-block
			h3 Sinu idee
			p Suurem osa õppekavast on projekt, mis on koostatud vastavalt sinu enda väljamõeldud ideele.
		.sub-block
			h3 Reaalne tulemus
			p Kasutame vaid uusimat tarkvara. See võimaldab kursuse lõpuks töötava veebilehe päriselt valmis saada, et teistelegi näidata.
