/* CSS on kujundamise keel */

/*	Esiteks valid mis HTML elementi muuta tahad, ja siis kuidas sa seda muudad. */

/* Selector on see esimene osa mis valib HTMLi elemendi. Antud juhul "body" */
body {
	background-color: red; /* Kogu lehe taust on nüüd punane */
}

/* See valib KÕIK inputid ja teeb paksu rohelise joone ümber */
input {
	border: 3px solid green;
}

/* See valib ainult "username" inputi ja kirjutab ümbritseva joone käsu üle. */
input[name="username"] {
	border: 3px groove yellow;
}

/* Siin defineerime klassi teatud omadustega. Selle klassi saan määrata ükskõik mis HMTL elemendile
ja see element saab automaatselt kõik siin kirjeldatud omadused. Otsi HTMLi seest üles class="superwide".
 */
.superwide {
	width: 500px; /* "px" on piksel. Ehk üks täpp su ekraanil. */
}