template(name="Hinnad")
	.hinnad
		.three-columns
			.col
				.title-box.first-bg-color Point
				.list
					p ✓ Põhitõed
					p ✓ Meteor.js
					p  
				.price 0
				a.btn.first-bg-color.register(href="/Register") Registreeri
			.col
				.title-box.second-bg-color Starter
				.list
					p ✓ Põhitõed
					p ✓ Meteor.js
					p <span class="second-color">✓</span> 8 tundi praktikat
				.price 80
				a.btn.second-bg-color.register(href="/Register") Registreeri
			.col
				.title-box.third-bg-color Proff
				.list
					p ✓ Põhitõed
					p ✓ Meteor.js
					p <span class="third-color">✓</span> 20 tundi praktikat
				.price 200
				a.btn.third-bg-color.register(href="/Register") Registreeri
