template(name="Hinnad")
	.hinnad
		.three-columns
			.col(data-price="0")
				.title-box.first-bg-color Point
				.list
					p <span class="tick">✓</span> Veebi põhitõed
				.summary
					p Sissejuhatav loeng, mis räägib kuidas veebirakendused üldse töötavad ja mida Koodikool pakub.
				.price Tasuta
				p 2 akadeemilist tundi
				if fullWidth
					a.btn.first-bg-color.select(href="/Register") Vali pakett
				else
					a.btn.first-bg-color.select(href="/Register") Vali
			.col(data-price="80")
				.title-box.second-bg-color Starter
				.list
					p <span class="tick">✓</span> Veebi põhitõed
					p <span class="third-color"><span class="tick">✓</span></span> HTML
					p <span class="third-color"><span class="tick">✓</span></span> CSS
					p <span class="third-color"><span class="tick">✓</span></span> JavaScript
					//- p.font-bold <span class="second-color"><span class="tick">✓</span></span> 8 tundi praktikat
				.summary
					p Kõik mida vaja, et kliendi poolset koodi kirjutada. JavaScriptis sisalduvad programmeerimise põhitõed, mis kehtivad ka teistes keeltes.
				.price 235<span class="euro">€</span>
				p 12 akadeemilist tundi
				if fullWidth
					a.btn.second-bg-color.select(href="/Register") Vali pakett
				else
					a.btn.second-bg-color.select(href="/Register") Vali
			.col(data-price="200")
				.title-box.third-bg-color Proff
				.list
					p <span class="tick">✓</span> Veebi põhitõed
					p <span class="third-color"><span class="tick">✓</span></span> HTML
					p <span class="third-color"><span class="tick">✓</span></span> CSS
					p <span class="third-color"><span class="tick">✓</span></span> JavaScript
					p <span class="second-color"><span class="tick">✓</span></span> Meteor.js
				.summary
					p Kõik mida vaja, et nii kliendi kui ka serveri poolset koodi kirjutada. Kui soovid tänapäeva standarditele vastavaid interaktiivseid veebilehti kirjutada, siis Meteor.js on parim tööriist.
				.price 325<span class="euro">€</span>
				p 24 akadeemilist tundi
				if fullWidth
					a.btn.third-bg-color.select(href="/Register") Vali pakett
				else
					a.btn.third-bg-color.select(href="/Register") Vali
