template(name="Hinnad")
	.hinnad
		.three-columns
			.col(data-price="0")
				.title-box.first-bg-color Point
				.list
					p <span class="tick">✓</span> Põhitõed
					p <span class="tick">✓</span> Meteor.js
					p  
				.price Tasuta
				if fullWidth
					a.btn.first-bg-color.select(href="/Register") Vali pakett
				else
					a.btn.first-bg-color.select(href="/Register") Vali
			.col(data-price="80")
				.title-box.second-bg-color Starter
				.list
					p <span class="tick">✓</span> Põhitõed
					p <span class="tick">✓</span> Meteor.js
					p.font-bold <span class="second-color"><span class="tick">✓</span></span> 8 tundi praktikat
				.price 80<span class="euro">€</span>
				if fullWidth
					a.btn.second-bg-color.select(href="/Register") Vali pakett
				else
					a.btn.second-bg-color.select(href="/Register") Vali
			.col(data-price="200")
				.title-box.third-bg-color Proff
				.list
					p <span class="tick">✓</span> Põhitõed
					p <span class="tick">✓</span> Meteor.js
					p.font-bold <span class="third-color"><span class="tick">✓</span></span> 20 tundi praktikat
				.price 200<span class="euro">€</span>
				if fullWidth
					a.btn.third-bg-color.select(href="/Register") Vali pakett
				else
					a.btn.third-bg-color.select(href="/Register") Vali
