template(name="Hinnad")
	.hinnad
		.three-columns
			.col
				.title-box.first-bg-color Point
				.list
					p <span class="tick">✓</span> Põhitõed
					p <span class="tick">✓</span> Meteor.js
					p  
				.price Tasuta
				a.btn.first-bg-color.register(href="/Register") Registreeri kursusele
			.col
				.title-box.second-bg-color Starter
				.list
					p <span class="tick">✓</span> Põhitõed
					p <span class="tick">✓</span> Meteor.js
					p.font-bold <span class="second-color"><span class="tick">✓</span></span> 8 tundi praktikat
				.price 80<span class="euro">€</span>
				a.btn.second-bg-color.register(href="/Register") Registreeri kursusele
			.col
				.title-box.third-bg-color Proff
				.list
					p <span class="tick">✓</span> Põhitõed
					p <span class="tick">✓</span> Meteor.js
					p.font-bold <span class="third-color"><span class="tick">✓</span></span> 20 tundi praktikat
				.price 200<span class="euro">€</span>
				a.btn.third-bg-color.register(href="/Register") Registreeri kursusele
