template(name="Home")

	p Konsentreeritud

	p Meie õpetame sulle ainult seda, mida sul päriselt vaja on. Ägeda veebilehe või nutiäppi kirjutamine nõuab põhikooli matemaatikat ja järjepidevust, aga mitte tuumafüüsikat.
 
	p Sinu idee

	p Põhiline õppimine toimubki sinu enda projekti kallal nokitsedes. Meie juhendame sind ja anname sulle õiged teadmised õigel ajal.
 
	p Reaalne tulemus

	p Lõpuks ei oska sa mitte ainult JavaScripti progeda vaid sul on ka valmis netileht või nutiäpp ette näidata!