template(name="Home")
	.home
		h1.home-title Veebilehe<br/>programmeerimise koolitus
		.three-columns
			.col
				.center-wrapper
					.center
						img(src="/img/home-1.png")
						h2.green Konsentreeritud
						p Meie õpetame sulle ainult seda, mida sul päriselt vaja on. Ägeda veebilehe või nutiäppi kirjutamine nõuab põhikooli matemaatikat ja järjepidevust, kõik huvilised saavad sellega hakkama.
			.col
				.center-wrapper
					.center
						img(src="/img/home-2.png")
						h2.yellow Sinu vajadused
						p Õppimine toimub küll grupis, aga sisu kujundatakse osalejate soovide järgi. Mida tahad saavutada?
			.col
				.center-wrapper
					.center
						img(src="/img/home-3.png")
						h2.red Reaalne tulemus
						p Lõpuks ei oska sa mitte ainult JavaScripti programmeerida vaid sul on ka ehtne moderne netileht ette näidata!
