template(name="HTMLCSSJS")
	.content-wide.max-width-700
		p HTML, CSS ja JavaScript on keeled ilma milleta ei ole võimalik veebilehti valmistada.
		h1 HTML
		p HTML on veebilehtede kõige tähtsam komponent. Nimelt struktuur ise. Näiteks see tekst mis praegu loed on HTMLis kirjeldatud kui &lt;p&gt; element. Klõpsa siia parema klikiga ja vajuta "Inspect element" ja veendu ise! HTML on veebiarenduses üks lihtsamaid kontseptsioone, see on nagu majal betoon ja metall.
		
		h1 CSS
		p CSS võtab HTMLi ja teeb selle ilusaks ja kasutatavaks. Tegu on samuti üsnagi lihtsa kontseptsiooniga. Võta HTML element ja ütle mis värvi või kujuga ta peaks olema. Maja ehitades on CSS nagu fassaad koos akende ja kaunistustega.
		h1 JavaScript
		p JavaScript (edaspidi JS) on veebi loogika. Kui HTML on maja ehitus, CSS kaunistus, siis JS on need inimesed kes majas tegutsevad. JS on ainukene keel, mida kõik interneti browserid toetavad. Algselt see oligi ainult browseritele mõeldud keel. Nüüdseks on see aga levinud ka serverite poolele (Meteor.js on hea näide). 
		
		p Kuigi lihtne kasutada, tuleb ikkagi ettevaatlik olla, kuna selle ülipaindliku keelega on võimalik programmeerijal  igasuguseid vigu programmi sisse kirjutada, mille lahendamine võib hiljem suuremaks tööks kujuneda, kui võttis aega rakenduse enda kirjutamine.
		p Kui sul JavaScript saab selgeks on palju lihtsam minna ka teiste programmeerimise keelte peale, kui see on su soov. Tsüklite, andmestruktuuride ja muude funktsioonide põhimõtted on igas keeles samad, vaid kuidas kirjutatakse ja mis lisavõimalused on, muutuvad. See muidugi ei tähenda, et oskad ühte keelt, oskad kõiki, aga ühest keelest teise minemine on ikka kordades lihtsam, nagu õpiks saksa keelt inglise keele järel.
