template(name="JavaScript")
	.content-wide.max-width-700
		h1 JavaScript
		p JavaScript (edaspidi JS) on see programmeerimise keel, mida Koodikool sulle õpetab.
		p JS on ainukene keel, mida kõik interneti browserid toetavad. Nimelt, algselt see oligi ainult browseritele mõeldud keel. Nüüdseks on see aga levinud ka serverite poolele. Sellega kirjutatakse isegi tavalisi arvutirakendusi. Kuigi lihtne kasutada, tuleb ikkagi ettevaatlik olla, kuna selle ülipaindliku keelega on ebateadlikul kasutajal võimalik igasuguseid vigu programmi sisse kirjutada, mille lahendamine võib hiljem saada suuremaks tööks kui rakenduse enda kirjutamine.
		p Kui sul JavaScript saab selgeks on palju lihtsam minna ka teiste keelte peale, kui see on su soov. Tsüklite, massiivide ja muude funktsioonide põhimõtted on igas keeles samad, vaid kuidas kirjutatakse ja mis lisavõimalused on, muutuvad. See muidugi ei tähenda, et oskad ühte keelt, oskad kõiki, aga ühest keelest teise minemine on ikka kordades lihtsam, täpselt nagu õpiks saksa keelt inglise keele järel.

		h2 Meteor.js
		p Meteor.js põhineb JavaScriptil. See on see raamistik, mida kasutame, et veebiarendus oleks lihtsam. See ei ole mingi võlukomponent, mis puhtalt drag-and-drop meetodil sulle tulemust annab. See on abivahend, mis teeb programmeerimise lihtsamaks. Tema sees on teatud taust-mehhanismid sinu eest ära tehtud. Näiteks, kui lood omale veebipõhise jututoa, siis Meteor.js hoolitseb selle eest, et kõigile saabuksid sõnumid kiiresti ja efektiivselt. Sina pead vaid ütlema kuhu mis andmeid soovid ja mis kujul.

		h2 Meteor.js Näited
		h1 MovieAtMyPlace
		h1 Ting.ee
		h1 Toitla.com
