template(name="JavaScript")
	.w700
		p JavaScript (edaspidi JS) on see programmeerimise keel, mida Koodikool sulle õpetab.

		p JS on ainukene keel, mida kõik interneti browserid toetavad. Nimelt, algselt see oligi ainult browseritele mõeldud keel. Nüüdseks on see aga levinud ka serverite poolele. Sellega kirjutatakse isegi tavalisi arvutirakendusi. Kuigi lihtne kasutada, tuleb ikkagi ettevaatlik olla, kuna selle ülipaindliku keelega on võimalik igasugust pudru ja kapsaid kirjutada, millest on hiljem raske midagi välja lugeda.

		p Proovi järmist käsklust. Vajuta F12 ja otsi üles "Console". Kopeeri sinna see kood ja vajuta Enterit. Muide, neid koodijuppe saab ükskõik mis veebilehel proovida ;)

		p document.getElementsByTagName("body")[0].style.backgroundColor = "red";

		p Meteor.js on see raamistik, mida kasutame, mis teeb veebiarenduse palju lihtsamaks. See ei ole mingi võlukomponent, et puhtalt kastikeste ringi tirimisega midagi teha saad, programmeerima pead sa ikkagi. Pigem on see tasutsüsteem, mis teatud protsessid on sinu eest läbi mõelnud. Näiteks, kui kolmkümmend inimest on korraga sinu jututoas, siis Meteor.js hoolitseb selle eest, et kõigile saabuksid sõnumid kiiresti ja efektiivselt. Sina pead vaid ütlema kuhu mis andmeid soovid ja mis kujul.

		p Mõned meie isiklikud näited, mida oleme Meteoriga valmis teinud

		p PILT1 PILT2 PILT3
		p (pildid on screenshotid toitlast ja mõnest muust lehest, mis lihtsalt avab lingi uues aknas. Neid ongi täpselt kolm)

		p Kui sul JavaScript saab selgeks on palju lihtsam minna ka teiste keelte peale, kui soovid. Tsüklite, massiivide ja muude funktsioonide põhimõtted on igas keeles samad, vaid kuidas kirjutatakse ja mis lisavõimalused on, muutuvad. See muidugi ei tähenda, et oskad ühte keelt, oskad kõiki, aga ühest keelest teise minemine on ikka kordades lihtsam, täpselt nagu õpiks saksa keelt inglise keele järel.
