template(name="koodikool")
	p Koodikool sündis soovist õpetada huvilistele programmeerimist paremini kui keegi teine.

	p Praegused võimalused Eestis arendajaks õppida on kas aastate pikkused kursused või koolipõhised akadeemilised tunnid, kus ei õpita reaalsest elust mitte midagi. Koodikooli metoodika on teistmoodi. Meil ei ole akadeemilise asutuse kohustusi. Me ei koorma sind üleliigsete teadmistega. Kui tuled meie käe alla õppima saad ainult vajalikud teadmised, siis kui neid vajad. Kursuse lõpuks on sul ehtne veebilahendus ette näidata. Ja see ei ole mingi suvaline mõne leheküljega voldik, see on interaktiivne, ilus ja funktsionaalne. Midagi mida teisedki tahaksid kasutada.

	p Tänapäeva tehnoloogia võimaldab üksinda nädalaga teha seda, millele paar aastat tagasi terve meeskond võis mitu kuud kulutada. See on sellepärast, et standardid ja vajadused muutuvad. Kunagi pidi internetti ühendamiseks ka mingi telefoninumbri valima. Kui tuled meie juurde õpetame sulle tipptehnoloogiat, mis võimaldab sul teha rakendusi nii tavanetti kui ka nutiäppi üli kiiresti, sealjuures saad hea aluse programmeerimisest.