template(name="meteor")
	.content-wide.max-width-700
		h1 Meteor.js
		p <a href="http://meteor.com" target="_blank">meteor.com</a>
		p Meteor.js on raamistik, mis lihtsustab veebiarendust oluliselt. See ei ole mingi võluaine, JavaScript ja programmeerimise põhitõed on siiski vaja selgeks saada. See ei ole mingi lihtne "drag and drop" programm, mis teeb kõik sinu eest ära. See on lihtsalt abivahend, mis on teatud keerukuste eest juba hoolitsenud. Sinu teha on ikkagi programm ise valmis kirjutada. Näiteks on selle meeskond andmete sünkroniseerimise meie eest ära lahendanud. See on kohe väga suur tükk tehnilist koodi, mida niikuinii on igal tänapäeva veebirakendusel vaja. Peale Meteori on muidugi lahendusi veel, aga siiski nii lihtsat ja otsekohest pole veel kohanud.
		p Siit saad kaasa ka teadmised kuidas väljaspool Meteor.js'i veebiarendus käib. Nimelt Meteor on ennekõike vaid raamistik mis teeb serveri ja kliendi vahelise andmete liigutamise kergemaks, aga ei dikteeri ette kuidas programmeerima peaks või mis teisi raamistikke kasutada. See tähendab, et esiteks Meteori kasutades saad juurde lisada ükskõik mis teisi abivahendeid, samas pärast Meteori õppimist ei pea sa üldse Meteori kasutamagi. Võid vabalt minna edasi teiste asjade juurde. Meteori võlu õppurile on aga see, et sa saad põhimõtetest palju kiiremini aru, vältides paljusid tehnilisi probleeme.

		h2 Meteor.js Veebirakendusi maailmast
		p <a href="http://Guaana.com" target="_blank">Guaana.com</a>
		p <a href="http://Toitla.com" target="_blank">Toitla.com</a>
		p <a href="https://hansoftx.com/home/index.html" target="_blank">HansoftX</a>
		p <a href="https://www.workpop.com/" target="_blank">Workpop</a>
		p <a href="https://lookback.io/" target="_blank">Lookback</a>
		p <a href="https://respond.ly/" target="_blank">Respondly</a>
		p <a href="https://mathfights.com/" target="_blank">MathFights</a>
		p <a href="http://versoapp.com/" target="_blank">Verso</a>
		p <a href="https://qeaql.com/" target="_blank">Qeaql</a>
		p <a href="https://madeye.io/" target="_blank">Madeye</a>
		p <a href="https://pintask.me/" target="_blank">Pintask</a>
