template(name="Minust")
	p Olles õppinud programmeerimist läbi erinevate keelte ja metoodikate on tagant järgi hea vaadata, mis tehnika aitas ja mis pigem aeglustas arvuti keelte mõistmist. Hetkel IT Kolledžis õpetamise kogemust omandamas, tahaksin proovida täpselt teiselt poolt lähenemist, kui akadeemiline.

	p Minus kerkis arendamise vastu huvi siis, kui tahtsin realiseerida oma ägedaid nutiäppe. Ma tegingi seda. 

	p Mina usun, et programmeerijaks saamine oleneb põhiliselt järjepidevusest. Ja see ei ole midagi, mida saad õppida. Selleks peab olema õige keskkond. Järjepidevus minu maailmas tähendab seda, et ma töötan huvitava projekti kallal.

	p Progejaid on praegu ja ka edaspidi vaja. President Ilveski ütles, IT Kolledži 2014 aasta avakõnes, et ükskõik mis alal keegi töötab, programmeerimine tuleb kõigile kasuks. Ta lisas, et vahest enam ei piisagi lihtsalt arstist või juristist, nüüd on juba vaja arste ja juriste, kes mõistavad programmeerida.
