template(name="Oppeprotsess")
	.w700
		p Meie sihiks on võimalikult lühidalt kõige tähtsamad asjad selgeks saada. Selleks järgime kolme põhitõde:

		p 1. Sinu projekt
		p Programmeerijaks saamise kõige olulisem eeldus on järjepidevus. Nähtavasti jätkub seda kõige rohkem ikka siis, kui see millega tegeled, on ilgelt põnev. Sellepärast kujundame õppeprotsessi sinu välja mõeldud idee järgi. Sina ütled meile mida täpselt tahad valmis saada ja meie vormistame selle reaalseks projektiks. Anname kätte projekti kondikava ja juhendame sind läbi kogu protsessi.

		p 2. Mentor
		p Isegi kui huvi on kõrgel annavad algajad tihti alla, kuna pidevalt tuleb ette tundmatuid olukordi ja mingi infotüki puudumise tõttu raiskad päevi. Meie ei lase sul seda juhtuda. Oleme su kõrval terve projekti aja ja anname sulle kõik vajalikud teadmised ja juhtnöörid, siis kui sul neid vaja on.

		p 3. Reaalne tulemus
		p Iga rida koodi mida kirjutab muudab midagi su ekraanil, pimedas kobamist veebiarenduses eriti ette ei tule. Kursuse lõpuks on sul peale diplomi ka ette näidata ehtne veebileht või nutiäpp. See aitab motivatsiooni kõrgel hoida nii kodus kui ka pärast kursust. Muide, kuskile tööle minnes ei küsita mitte mingit paberit vaid ikka tehtud töid.
