template(name="Oppeprotsess")
	.content-wide
		.max-width-700
			h1 Õppeprotsess
			h3 Meie sihiks on võimalikult lühidalt kõige tähtsamad asjad sulle selgeks teha. Selleks järgime kolme põhitõde:

		.three-columns
			.col

				h1 1.
				h2 Sinu projekt
				p Õppeprotsess on kujundatud sinu enda idee ümber. Sina ütle meile mida tahad valmis teha ja meie teeme sulle projekti kondikava ja näitame kuidas seda läbi viia. Programmeerijaks saamisel on üks kõige olulisemaid omadusi järjepidevus. Arendades oma enda ideed püsib motivatsioon kõrgel ja protsesside käiku on niivisi lihtsam hoomata.

			.col
				h1 2.
				h2 Mentor
				p Isegi kui huvi on kõrgel annavad algajad tihti alla, kuna pidevalt tuleb ette tundmatuid olukordi ja mingi infotüki puudumise tõttu raiskad päevi. Meie ei lase sul seda juhtuda. Oleme su kõrval terve projekti aja ja anname sulle kõik vajalikud teadmised ja juhtnöörid, siis kui sul neid vaja on.

			.col
				h1 3.
				h2 Reaalne tulemus
				p Kursuse lõpuks ei ole sul mitte lihtsalt paber, vaid ka reaalne veebileht või nutiäpp. Kohandame su idee vastavalt võimetele ja ajalistele piirangutele, et projekt saaks kindlasti valmis. Muide, tööd otsides üldiselt küsitakse nii tehtud töid kui ka katse ülesande lahendamist. Meilt saad mõlemale tingimuse täitmisele lähemale.
